@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.input {
  &-block {
    color: $slate-700;
    @include text-preset-3;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 0;

    label {
      @include text-preset-4;
    }
  }

  &-wrapper {
    min-width: 0;
    min-height: 48px;
    border: 1px solid $slate-700;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;

    label {
      padding: 12px 16px;
      display: flex;
      gap: 18px;
      flex: 1;
      color: $slate-900;
      @include text-preset-3;
    }

    input[type='radio'] {
      transform: scale(1.5);
    }
  }
}

@media (min-width: 768px) {
  .input {
    &-block {
      &.full-width {
        grid-column: span 2;
      }
    }
  }
}
