@mixin text-preset-1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-preset-4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

@mixin text-preset-5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}