// ================================== Colors ========================================
$lime: #d7da2f;
$red: #d73328;
$white: #ffffff;
$slate-100: #e3f3fd;
$slate-300: #9abed5;
$slate-500: #6b94a8;
$slate-700: #4e6e7e;
$slate-900: #122f3f;