@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.empty-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;

  img {
    max-width: 192px;
    max-height: 192px;
  }

  .placeholder {
    &-title {
      color: $white;
      @include text-preset-2;
    }

    &-text {
      color: $slate-300;
      @include text-preset-4;
    }
  }
}