@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.form {
  padding: 32px 24px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 24px;

  header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  .input-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    min-width: 0;
  }
}

@media (min-width: 768px) {
  .form {
    padding: 40px;
    gap: 40px;

    .input-section {
      grid-template-columns: 1fr 1fr;
    }
  }
}
