@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.input {
  min-width: 0;
  padding: 12px 16px;
  border: none;
  flex: 1;
  @include text-preset-3;

  &-wrapper {
    &.error {
      border-color: $red;

      .prefix,
      .suffix {
        color: $white;
        background-color: $red;
      }
    }
  }
}

/* When an input inside the wrapper has focus, style the wrapper */
.input-wrapper:focus-within {
  border-color: $lime;

  .prefix,
  .suffix {
    color: $slate-900;
    background-color: $lime;
  }
}

.label-radio:has(input:checked),
.input-wrapper:has(input:checked) {
  border-color: $lime;
  background-color: #d7da2f26;
}

.radio-checked {
  background-color: #d7da2f26;
}

.small {
  flex: unset;
}

.prefix,
.suffix {
  padding: 12px 16px;
  background-color: $slate-100;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

.label-radio {
  cursor: pointer;
}

input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 2px solid $slate-700;
  border-radius: 50%;
  background: transparent;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

input[type='radio']::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  background: $lime;
  transition: transform 0.2s ease;
}

input[type='radio']:checked {
  border: 2px solid $lime;
}

input[type='radio']:checked::before {
  transform: scale(1);
}
