@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.input {
  min-width: 0;
  padding: 12px 16px;
  border: none;
  flex: 1;
  @include text-preset-3;
}

.small {
  padding: 12px 16px;
  flex: unset;
}

.prefix,
.suffix {
  padding: 12px 16px;
  background-color: $slate-100;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}
